<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>

      <%= csrf_meta_tags %>
     <%= javascript_include_tag "application" %>
     <%= javascript_include_tag :defaults, "nested_form" %>
     <%= stylesheet_link_tag    "application", media: "all" %>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "sample app", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <% if  user_signed_in? && current_user.admin? %>
                <li><%= link_to 'product_managment',  products_path %></li>
                <li><%= link_to "category_managment",  categories_path %></li>
                <li> <%= link_to "User_managment", manage_user_admin_dashboard_index_path %></li>
                <li> <%= link_to 'log_out', destroy_user_session_path, :method => :DELETE %></li> 
              <%elsif user_signed_in? %>
                <li> <%= link_to 'log_out', destroy_user_session_path, :method => :DELETE %></li>               
              <%else%> 
                <li><%= link_to "registration",new_user_registration_path %></li>
                <li> <%= link_to "login", new_user_session_path %></li>
              <%end%>
                <li><%= link_to "Home",root_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <% if flash[:notice]%>
      <div id = "notice" >
          <%= flash[:notice]%>
      </div>
      <%end%>
        
      <%= yield %>
    </div>
  </body>
</html>